_build/
__pycache__/
lib/main.js
*~
*.native
*.byte
export/gen.mod
*.lp
*.lpo
*.cmi
*.cmo
playerlib/player.js
playerlib/data/*.mod
playerlib/data/*.sig
core/depend
*#
.DS_Store
.merlin

node_modules
app/release-builds
lib/data.ml
