body {
    background-color: #e6e6e6;
}

.left {
    z-index: 1;
    padding: 0;
    -moz-box-shadow: 2px 0px 4px 0px #656565;
    -webkit-box-shadow: 2px 0px 4px 0px #656565;
    -o-box-shadow: 2px 0px 4px 0px #656565;
    box-shadow: 2px 0px 4px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);

    border-radius: 6px 0px 0px 6px;

    overflow: hidden;
    
}


.right {
    background: #f9f9f9;
    z-index: 0;
    padding: 0;
    height: 100%;

    border-radius: 0px 6px 6px 0px;

    overflow: auto;

    box-shadow: 1px 0px 1px 0px #656565;
}

.right #readme {
    padding: 1.5em;
}

.main-wrapper, .main-wrapper .row {
    height: 96vh;
    padding: 2vh;
    margin: 0;
   /* width: 100%;
    position: absolute;
    top: 0;
    left: 0;*/
}

h4 {
  color: white;  
}

.left nav {
    z-index: 2;
    position: relative;
    width: 100%;
}

.left nav .navbar-brand {
    margin-right: 0rem;
}

#editor { 
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
}

#editor .ace_gutter-cell {
    color: #b7ada2;;
}

.exec_btn_text {
    position: relative;
    top: -1px;
}
.gear {
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@media (max-width: 900px) {
    .right, .left {
	border-radius: 0px;
	height: 100vh;
    }
    .left {
	top: 0px;
	left: 0px;
    }
    .left nav {
	padding: 0.4em;
    }
    #editor {
	top:53px;
    }
    .main-wrapper, .main-wrapper .row {
	height: auto;
	padding: 0vh;
	margin: 0;
    }
    .exec_btn_text {
/*	display: none !important; */
    }
}
@media (max-width: 575px) {
    .right, .left {
	border-radius: 0px;
    }
    .left {
	height: 75vh;
    }
    .left nav {
	padding: 0;
	padding-right: 0.5em;
	padding-left: 0.5em;
    }
    .right {
	height: auto;≈Ò
    }
    .main-wrapper, .main-wrapper .row {
	height: auto;
	padding: 0vh;
	margin: 0;
    }
}